<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="ros2_control" params="frame_prefix">
        <gazebo>
            <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(arg config_controllers)</parameters>
            </plugin>
        </gazebo>
        <ros2_control name="speedy_interface" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            <joint name="${frame_prefix}front_left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-5.1282</param>
                    <param name="max">5.1282</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="${frame_prefix}front_right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-5.1282</param>
                    <param name="max">5.1282</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="${frame_prefix}back_right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-5.1282</param>
                    <param name="max">5.1282</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="${frame_prefix}back_left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-5.1282</param>
                    <param name="max">5.1282</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="${frame_prefix}mid_right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-5.1282</param>
                    <param name="max">5.1282</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="${frame_prefix}mid_left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-5.1282</param>
                    <param name="max">5.1282</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>