<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="speedy">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import speedy urdf file -->
    <xacro:include filename="$(find speedy_description)/robots/speedy.urdf.xacro" />
    <xacro:include filename="speedy.srdf"/>

    <!-- Import control_xacro -->
    <xacro:include filename="speedy.ros2_control.xacro" />


    <xacro:speedy_ros2_control name="ScaraArm" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
